<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <title>Spotify Profiler</title>
</head>

<body>
  <div class="container">
    <% if (user) {%>
      <section class="profile-section">
          <div class="img_wrapper">
            <img class="image img-thumbnail rounded-circle" src=<%=user?.user.images[0].url %> alt="user">
          </div>
          <div class="name">
            <%= user?user.user.display_name:"" %>
          </div>
      </section>
      <section class="stats-section">
        <div class="user-stats">
          <div>Followers: <%= user?user.user.followers.total:"" %>
          </div>
          <div>Following: <%= user?.followings.artists.total %>
          </div>
          <div>Playlists: <%= user?.playlists.total%>
          </div>
        </div>
      </section>

      <div class="user-content">
        <section class="user-playlists">
          <div>
            <p class="headers">Playlists</p>
            <% user.playlists.items.forEach((playlist, i)=>{%>
            <div  class="names">
              <%= i+1 %>. <%= playlist.name %>
            </div>
            <%})%>
          </div>
        </section>
        
        
        <section class="user-songs">
          <div>
              <p class="headers">Top Songs</p>
         
            <% user.top_tracks.items.forEach((track, i)=>{%>
            <div class="names">
              <%= i+1 %>. <%= track.name %>
            </div>
            <%})%>
          </div>
        </section>
        <section class="user-artists">
          <div>
              <p class="headers">Top Artists</p>
            <% user.top_artists.items.forEach((artist, i)=>{%>
              <div class="names">
                <%= i+1 %>. <%= artist.name %>
              </div>
            <%})%>
          </div>
        </section>
      </div>

      <%}else{%>
        <div class="login_screen">
          <div>
            <div class="welcome">
              Welcome to spotify profiler
            </div>
            <div class="sing-in-btn-wrapper">
              <a class="sing-in-btn" href="/authorize">Login with Spotify to continue</a>
            </div>
          </div>

        </div>
        <% } %>

  </div>
</body>

</html>
